<form (ngSubmit)='onAddItem(f)' #f="ngForm">
  <mat-form-field class="add-item-input" appearance="outline">
    <mat-label>Add Item</mat-label>
    <input matInput type="text" required ngModel name="name">
  </mat-form-field>

  <button class="add-button" mat-button [disabled]='!f.valid' type="submit">
    <mat-icon>add_circle</mat-icon>
  </button>
</form>

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of items">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="!editMode">
        {{ item.payload.doc.data().name }}
      </mat-panel-title>
      <mat-panel-title *ngIf="editMode">
        <form (ngSubmit)='onEdit(item, f)' #f='ngForm'>
          <mat-form-field>
            <input matInput type="text" [ngModel]="item.payload.doc.data().name" name='name'>
          </mat-form-field>
          <button mat-button type='submit'>
            <mat-icon>done</mat-icon>
          </button>
        </form>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button (click)="onDelete(item)">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button *ngIf="!editMode" (click)="editMode = true">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-button *ngIf="!editMode" (click)="onShoppingCartAdd(item)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>

<button mat-button (click)="onClear()" style="float: right;">
  <mat-icon>clear_all</mat-icon>
  Clear List
</button>