<div>
  <form (ngSubmit)='onAddItem(f)' #f="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Add Item</mat-label>
      <input matInput type="text" required ngModel name="name">
    </mat-form-field>

    <button mat-button [disabled]='!f.valid' type="submit">
      <mat-icon>add_circle</mat-icon>
    </button>
  </form>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of items; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="!editMode">
        {{ item.name }}
      </mat-panel-title>
      <mat-panel-title *ngIf="editMode">
        <form (ngSubmit)='onEdit(i, f)' #f='ngForm'>
          <mat-form-field>
            <input matInput type="text" [ngModel]="item.name" name='name'>
          </mat-form-field>
          <button mat-button type='submit'>
            <mat-icon>done</mat-icon>
          </button>
        </form>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button (click)="onDelete(i)">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button *ngIf="!editMode" (click)="editMode = true">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-button *ngIf="!editMode" (click)="onShoppingCartAdd(item, i)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>

<button mat-button (click)="onClear()" style="float: right;">
  <mat-icon>clear_all</mat-icon>
  Clear List
</button>