.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin:10%;
  max-width: 400px;
}

.sign-in-btn {
  margin: 5%;
  width: 100%;
}

.homepage-button {
  width: 47%;
}

img {
  height: 20px; 
  margin-right: 4px;
}

.header-image {
  background-image: url('../../assets/images/bitmoji-20190603072131.png');
  background-size: cover;
}
